/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log
.medusa
.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusaredis-stable/
*.tar.gz

# Logs
logs/
*.log

# PM2 ecosystem configuration
ecosystem.config.js
